.h-cont-container {
      background-color:   rgba(161, 176, 201, 0.717);      overflow: auto;
      width: 34%;
      font-family: Arial, sans-serif;
      width: 100%;
      height: 580px;
      margin: 20px auto;
      padding: 8px
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.search-bar {
  width: 98%;
  padding: 8px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #0c2fe1;
  font-size: 14px;
  background-color: transparent;
  overlay: none;
  color: #080266  ;
}

.search-bar::placeholder {
  color: white;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #4f46e5;
  color: white;
}

table tr {
    color: #080266  ;

}

table tr:nth-child(even) {
  background-color: #f9f9f94c;
}

table tr:hover {
  background-color: #e0f1ff7b;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #3730a3;
}
